flet == 0.4.2
pypiwin32 == 223
pystray == 0.19.4
APScheduler == 3.10.0
requests == 2.31.0
colorama == 0.4.6
pyinstaller == 5.8.0
git+https://github.com/ultrafunkamsterdam/undetected-chromedriver@fix-multiple-instance