flet==0.5.0.dev1252
pypiwin32 == 223
ujson == 5.7.0
pystray == 0.19.4
APScheduler == 3.10.0
requests == 2.28.2
colorama == 0.4.6
pyinstaller == 5.8.0
git+https://github.com/ultrafunkamsterdam/undetected-chromedriver@fix-multiple-instance